[2011-08-29 23:41] pat opened #1 "Add detail to the README"

[2011-08-29 23:42] pat opened #2 "Provide the ability to choose which Rails modules are loaded and set up"

[2011-08-29 23:43] pat opened #3 "Add a generator for essential files"
Or maybe there's no guaranteed set? config/routes.rb is only needed when using controllers and views, config/database.yml is only needed if using ActiveRecord.

[2011-08-29 23:44] pat opened #4 "Allow for different testing frameworks/folders."
Not everyone likes RSpec.

[2011-08-29 23:45] pat opened #5 "Auto-load route helpers if using RSpec"

[2011-08-29 23:46] pat opened #6 "Auto-load Capybara helpers if using Capybara"

[2011-08-30 02:22] #1 closed, assigned to pat

[2011-08-30 02:22] #2 closed, assigned to pat

[2011-08-30 02:22] #5 closed, assigned to pat

[2011-08-30 02:22] #6 closed, assigned to pat

[2011-09-02 06:16] #3 closed, assigned to pat

[2011-09-05 10:11] bhavinkamani opened #8 "Facing error while running combust"
Hi

While running combust command on a brand new rails 3.1 engine I am facing following error. I am using the released rails 3.1.0 and am using the combustion git master.

[code]

Here's my [GemFile](https://gist.github.com/1194615).

Let me know if you need any other details. It looks to be a dependency resolution issue. But I am not sure how to resolve it.

[2011-09-05 10:41] #8 closed, assigned to nobody

[2011-10-19 05:16] nicholasf opened #10 "setting up Combustion with a Rails 3.1.1 engine - uninitialized constant ActionController::Metal (NameError)"
I'm running into this error after setting up spec_helper with the Combustion config.

It also happens when I downgrade to 3.1.0.

[code]

[2011-10-19 05:37] #10 closed, assigned to nobody

[2011-12-16 12:47] egilburg opened #12 "Allow arbitrary application name"
Currently the application name is 'internal', while in our project (and many other projects by convention) a test application for a plugin/engine is called a "dummy". Would it be possible to have combustion take a config option that allows an arbitrary app name, defaulting it to 'internal' unless overridden?

[2011-12-17 03:28] #12 closed, assigned to nobody

[2012-01-12 08:11] kjvarga opened #13 "Rake tasks"
I like the idea of this gem and I loathe having full Rails apps in my test suite so I thought I would give it a go testing my sitemap_generator gem.  I want to test that the rake tasks are working properly and am having some issues.  There is no 'environment' task and for some reason my gem's rake tasks which are supposed to be loaded by Railtie, are not being loaded.

Do you have any plans to add

[2012-01-12 08:17] #13 closed, assigned to nobody

[2012-01-24 08:27] fschwahn opened #14 "Compatibility with Rails 3.2"
Hi,
I just stumbled upon a problem while testing an activerecord extension.
The tests pass when the bundle is locked to Rails 3.1, but when the bundle is updated to Rails 3.2 the tests start to fail. However, the extension works normal in a Rails 3.2 app, the tests just fail in the combustion app. It seems as if the extension just isn't loaded anymore.
I will push the extension to github later tod

[2012-01-24 12:38] #14 closed, assigned to nobody

[2012-01-24 15:30] KronicDeth opened #15 "Compatibility with foreigner"
I'm using foreigner (https://github.com/matthuhiggins/foreigner) to maintain the foreign key constraints in a postgresql database.  When Combustion.initialize! is called, it eventually gets down to reading my ActiveRecord models, which triggers the railtie for foreigner.  The stack gets to Foreigner::Adapter.configured_name, where it tries to do

ActiveRecord::Base.connection_pool.spec.config[:ada

[2012-02-07 11:11] nilclass opened #16 "Cucumber support"
There are a few things required to make Cucumber play nicely.
I'm using this issue to document the steps I had to take to make it work.
Maybe this will lead to a patch in the future :)

in env.rb:

[code]

[2012-03-03 05:42] ndbroadbent opened #18 "Please release 0.3.2 with the 'path' support"
Your README states that I should be able to call `Combustion.path=`, but this feature is not present in the current version of the gem (`0.3.1`)

[code]

It's currently in the master branch though, so I would be grateful if you could bump the version and push a new gem.

Cheers!

[2012-03-03 08:44] #18 closed, assigned to nobody

[2012-12-22 20:34] danil-z opened #27 "uninitialized constant Rails"
i've created new engine using `rails plugin new some --mountable -T`
and followed readme for basic setup
when i try to run rackup i got following error
what do i miss?

[code]

[2012-12-23 12:48] #15 closed, assigned to nobody

[2012-12-23 12:50] #16 closed, assigned to nobody

[2012-12-29 14:09] knewter opened #30 "Turn on mass assignment security by default"
So apps using combustion won't have their tests show mass assignment failures by default.  This hit me on http://github.com/isotope11/xrono and http://github.com/isotope11/wacky in the past two days.  I did a post mortem and figured out why, I'll paste that email in at the bottom for more detail if you want it - it's very stream-of-consciousness, where I'll be more explicit here.

Combustion shoul

[2013-01-01 23:52] #30 closed, assigned to nobody

[2013-01-11 22:42] apsoto opened #32 "rubygems source link points to wrong URL"
On the rubygems page: http://rubygems.org/gems/combustion

The source link points to: http://github.com/freelancing-god/combustion

It should be: https://github.com/pat/combustion

[2013-01-12 02:35] #32 closed, assigned to nobody

[2013-01-14 23:39] apsoto opened #33 "FactoryGirl definitions not found if FactoryGirl required before Combustion.initialize! invoked"
Things started breaking for me with 'Factory not registered' errors.  I tracked it down to adding the 'factory_girl_rails' gem to my Gemfile.  Bundler autorequires it, which was causing `FactoryGirl.definition_file_paths` to already be resolved to spec/internal for it's factories.

I worked around it by disabling autorequiring in my Gemfile:

[code]

And then manually requiring it in my `spec_help

[2013-01-15 12:34] #33 closed, assigned to nobody

[2013-01-22 05:01] #27 closed, assigned to nobody

[2013-02-20 08:31] LandonSchropp opened #36 "Unable to run rspec or rackup"
I'm having problems creating a simple Rails engine and running it with Combustion. I've been pulling my hair out trying to get this to work so I thought I'd submit an issue.

First, I created a new engine.

[code]

I removed some of the junk and modified the readme file.

[code]

I modified issue_engine.gemspec.

[code]

I modified the Gemfile and then ran `bundle install`.

[code]

I ran `rails g

[2013-03-16 09:24] #36 closed, assigned to nobody

[2013-05-03 19:35] bricker opened #50 "Errors when Combustion is loading jquery-rails"
Sorry about throwing a bunch of code at you...

spec_helper.rb:

[code]

Gemfile:

[code]

gemspec:

[code]

And I have some requires at the top of my `engine.rb`:

[code]

So basically when I run `bundle exec rake`, I get:

[code]

If I remove `require 'jquery-rails'` from `engine.rb`, the tests run fine but then my app won't load (sprockets complains, "can't find file 'jquery'").

[2013-05-19 00:47] #50 closed, assigned to nobody

[2013-06-06 20:36] kjvarga opened #51 "rails 4 support"
The Rails 4 RC 1 is out.  Will combustion support it?

Also, how would I go about specifying the version of Rails that Combustion uses?  Do I just specify it in my Gemfile e.g.

[code]

[2013-08-10 07:03] #4 closed, assigned to nobody

[2013-08-10 07:05] #51 closed, assigned to nobody

[2013-09-04 05:40] terenceponce opened #52 "uninitialized constant ActionController::Base"
I'm new to Rails engines and this gem and I'm having this problem when I'm trying to access the dummy app in localhost:9292:

[code]

Here's my `config.ru`:

[code]

and here's the gemspec file:

[code]

Here's my `spec_helper.rb`:

[code]

I followed the README as well as #27 and I still can't make it work on the browser. Did I miss anything here?

[2013-10-06 04:30] #52 closed, assigned to nobody

[2014-07-17 21:29] gfeil opened #58 "Please publish a new version"
The current version is almost a year old. I'm currently having to specify the master branch in my Gemfile due to bugs in 0.5.1, which makes me a bit nervous about stability. Thanks!

[2014-07-17 22:05] #58 closed, assigned to nobody

[2014-08-03 20:04] seanlinsley opened #59 "Rack linting failure"
With this added configuration:
[code]

We're getting this error: (ref https://github.com/gregbell/arbre/issues/20)
[code]

Any idea what the problem is?

[2014-11-07 19:34] bguest opened #60 "Support for Zeus?"
It's not clear how one would use zeus / spring and combustion at the same time, any thoughts?

[2015-01-14 20:13] joost commented on #59
Late to the party, but @pat is right. You could try monkey patching with something like:

    class ActionDispatch::Request::Session
      def store(name, value)
        self[name] = value
      end
    end

[2015-02-03 09:02] fwl opened #62 "Mounting the engine gives errors, adding manual route works."
Mounting the engine in `spec/internal/config/routes.rb` gives routing errors (route not found etc.):

[code]
While manually adding a route to the engine works fine and all tests pass:

[code]

Any ideas why this happens? Could it be a bug or is it an oversight on my behalf?

Thank you!

[2015-02-08 03:28] pat commented on #62
@fwl this certainly sounds like something hasn't been configured quite correctly. Have you defined routes for your engine as well?

[2015-02-08 09:30] fwl commented on #62
Hi @pat and thank you for your response.

Yes, I have the following:

[code]

When the engine is used in a real app, everything works fine. This problem only occurs in tests.

[2015-02-08 09:39] pat commented on #62
Huh, that is odd indeed. Which versions of Combustion and Rails are you using?

[2015-02-08 09:56] fwl commented on #62
This is what I have in the gemspec:

[code]
and this is what I have in the Gemfile:

[code]

[2015-02-08 09:59] fwl commented on #62
[code]

[2015-02-08 10:19] pat commented on #62
And your app that you're using it in is Rails 4.2 as well?

Can you try dropping down to Combustion 0.5.1, see if that helps?

[2015-02-08 10:31] fwl commented on #62
I just tried Combustion 0.5.1 and the test fails just like with 0.5.2 (i.e. if I use ```mount Foo::Engine, at: "/foo"``` as opposed to ```post "/foo/widgets", to: "foo/widgets#create"```).

Regarding your question about the app where I am using the engine, if you mean the real-world app where I use the engine, yes, it is a Rails 4.2 app. The tests fail with RSpec and the `spec/internal` app that C

[2015-02-09 23:17] pat commented on #62
I wonder if this is related to Rails 4.2? Is it possible for you to lock Rails to a 4.1 release in your engine's gemspec, bundle update, and see how that goes?

Otherwise, I don't suppose the code for this engine is available publicly on GitHub or elsewhere?

[2015-02-11 19:05] fwl commented on #62
Hi @pat,

Locking to Rails 4.1 produces the same error when running the tests...

The code isn't publicly available currently but I could paste parts of it if it'd help. I'm just struggling to see what could be problematic though, since the engine works fine in production. The issue appears only when running tests with Combustion and RSpec.

[2015-02-11 22:44] pat commented on #62
Hmm. Can you share your spec_helper?

[2015-02-12 08:28] fwl commented on #62
Hi @pat,

Certainly. It is:

[code]

[2015-02-13 09:30] fwl commented on #62
Hi @pat,

A quick update. I set up [appraisal](https://github.com/thoughtbot/appraisal) to test with Rails 3.2, 4.0, 4.1, and 4.2. While doing that I hit https://github.com/pat/combustion/issues/50 so I had to make changes to `spec_helper.rb` to get it to work. The new `spec_helper.rb` is below. Despite these changes the issue we're discussing persists and the specs fail in all versions of Rails t

[2015-02-15 04:49] pat commented on #62
If it's a private project on GitHub, I don't suppose it's possible for you to add me so I can debug directly? Completely understand if you'd rather not - I'm just really not sure what the problem is :|

[2015-02-16 16:20] bibendi opened #63 "Maybe release?"
Could you please release a gem?

[2015-02-25 12:09] fwl commented on #62
Hi @pat,

Sorry for the delayed response, I was offline for several days.

Thank you for offering to debug the gem, it is *very* kind of you. However, it feels to me that this would be asking too much from a library author. I'll continue investigating this by myself for now and if any new findings come to surface I will let you know.

Once again, thank you for writing this in the first place and f

[2015-03-01 10:47] pat commented on #63
Sorry for the delay. 0.5.3 is now released.

[2015-03-01 10:47] #63 closed

[2015-03-24 18:06] fwl commented on #62
Hi @pat,

The issue I was having is fixed now (after a lot of painful debugging) and I'm happy to report back that it was not related to Combustion, but to some rather esoteric Rails engine routing/helpers issue.

Please feel free to close this issue and thank you once again for trying to help with this.

[2015-03-24 23:21] pat commented on #62
Ah, shame it was so painful to find, but great to know you got to the bottom of it!

[2015-03-24 23:21] #62 closed

[2015-05-03 12:53] fgarcia commented on #60
I've been playing with Combustion + Spring (specially since now it comes with Rails)

So far I am having some problems to make everything start, but managed to partially start the dummy with Spring.

I did a fork of @pat repo https://github.com/pat/gutentag and documented all the steps I could. Mostly taken from this thread:

https://github.com/rails/spring/issues/144

Spring does start with the d

[2015-05-06 21:00] mcmire commented on #13
I didn't like how `Combustion.initialize!` tries to set up the database and was getting "duplicate migration" errors. Additionally, I needed a way to generate a migration (as that functionality is in generators and is not included in the Rake tasks that ActiveRecord provides). With that in mind, here's what my Rakefile looks like:

[code]

[2015-06-25 11:27] machisuji opened #67 "undefined method 'assets'"
Hey,

I'm trying to use combustion for testing my rails engine, but unfortunately upon running the specs I get the following error:

[code]

When calling:

[code]

I tried initialising `:sprockets` too and added it to the gemfile. Doesn't help, though.
Any ideas?

`spec_helper.rb`:

[code]

[2015-06-26 01:48] pat commented on #67
Hi Markus

Which version of Rails do you have bundled?

[2015-06-26 06:03] machisuji commented on #67
Hey, it's rails 3.2.21.

[2015-06-26 07:25] pat commented on #67
I don't suppose this engine is available on GitHub so I can use it to reproduce the issue locally? :)

[2015-06-26 07:50] machisuji commented on #67
Hey, the gem is not quite public yet. Nothing secret, really, just a formality. Have to check back with people before making it public. So for the time being I invited you to a team and gave you read access to my fork.

On the branch [feature/specs](https://github.com/machisuji/lobby_boy/tree/feature/specs) I gave combustion a try and got stuck with the problem above.

[2015-06-26 08:25] machisuji commented on #67
Never mind, I made it public.

[2015-06-26 23:48] pat commented on #67
lobby_boy? I don't think you've pushed the feature/specs branch.

[2015-06-27 11:23] machisuji commented on #67
Yes, I pushed it to my [fork](https://github.com/machisuji/lobby_boy/tree/feature/specs).

[2015-06-27 12:02] pat commented on #67
Right, so the issue, from my local testing, is that `config` in the scope of the engine, is the _engine_'s configuration, not the app's. You want to do this instead, within the engine definition:

[code]

[2015-12-22 12:24] artofhuman opened #69 "new version 0.5.4?"
Hello @pat
Can you release new version with this fix https://github.com/pat/combustion/pull/65 ?

[2016-01-12 12:01] sergey-kucher commented on #69
+1

[2016-01-12 12:01] deniskorobicyn commented on #69
:+1:,  getting tied of writing separate dependency for this gem in Gemfile, instead of `development_dependency` in gemspec. Please, @pat, can you release version? :smile:

[2016-01-12 12:08] pat commented on #69
Sorry for the delays - meant to get to this over the break, but ended up having very little coding time. 0.5.4 is now released!

[2016-01-12 12:08] #69 closed

[2016-01-12 12:15] deniskorobicyn commented on #69
Thank you!! :heart:

[2016-01-12 12:24] artofhuman commented on #69
Thanks :+1:

[2016-01-21 11:59] bobf opened #70 "uninitialized constant Rails (NameError)"
I really hope this isn't a duplicate of #27 - apologies if so !

[code]

Gemfile:

[code]

`spec/spec_helper.rb` (I guess this isn't relevant ?)

[code]

Let me know if you need any more info. Thanks !

[2016-01-21 12:21] pat commented on #70
Greatly appreciate all the detail!

I think this is actually a flaw in the plugin generator - I'd expect a gem that relies on `Rails::Engine` to have `require 'rails/engine'`, instead of just hoping something else along the way will load it. Open to other thoughts on the matter though :)

[2016-01-21 12:21] bobf commented on #70
By the way, the initial reason for creating this issue was that I couldn't get rspec to run (error about needing a rack-test application present) but, in putting together this recipe, I noticed that if I copy more of the sample `spec_helper.rb` than I thought I needed, my specs now run (I have a passing test visiting a page inside my internal app). So that's the most important bit for me - `rackup

[2016-01-21 12:27] pat commented on #70
I've not used the rspec-rails generator from within an engine - I'm not sure it was built for that purpose? The `spec_helper.rb` in the README is what I expect should work - if you're able to reproduce your original rack-test error, that'd be super helpful.

[2016-01-21 12:27] bobf commented on #70
Interesting ! Adding `require 'rails/engine'` to my `engine.rb` gives a new error:

[code]

Sorry if there is an obvious solution to this, I'm reasonably new to Rails internals, especially with engines.

[2016-01-21 12:31] bobf commented on #70
Sure thing. With this `spec/spec_helper.rb`:

[code]

I get this error when running `rspec`

[code]

It seems obvious now that adding these two lines after `Combustion.initalize! :all` would solve the problem, but it was difficult from the example you provided to figure out what was expected to be in a "standard" `spec_helper.rb` and what was expected to be added by the user:

[code]

Maybe a bare

[2016-01-21 12:32] bobf commented on #70
The point being above that it seemed odd to me to need to require `rspec/rails` for this to work, given that the `rspec:install` generator does not include them, yet `rspec` itself works fine. Does that make sense ?

[2016-01-21 16:28] bobf commented on #70
Hey, `bundle exec rackup` works for me now ! No idea what the hell I did to make it work. :)

Anyway, thanks for the help earlier and for the great gem. Took a while to get off the ground but will definitely be using this for future engine testing now I know how to get it going.

Cheers,

[2016-01-21 16:28] #70 closed

[2016-01-23 09:36] pat commented on #70
Great to know you got it working - I'll look into improving the documentation for the `spec_helper.rb` example :)

[2016-02-09 20:18] DannyBen opened #72 "Failing to build on Travis with :all"
Hi,

Not sure if it is a bug or a configuration error on my part.

**Failing Case**
With this line in my spec_helper:
[code]

The build [fails](https://travis-ci.org/DannyBen/pundit_extra/builds/108111558) on travis with the chief complaint being:
[code]

**Passing Case**
However, with this line:

[code]

It [succeeds](https://travis-ci.org/DannyBen/pundit_extra/builds/108115340).

In both cases,

[2016-02-10 08:25] artofhuman commented on #72
I think you gem is not an engine.

[2016-02-10 08:37] DannyBen commented on #72
Do you think that the fact it is not an engine is the cause for it failing on travis and not failing locally?
And why not make Combustion work for any rails gem development project, and not just engines? I mean it looks like its practically working already.

[2016-02-10 13:27] pat commented on #72
I use Combustion with non-engine gems (Thinking Sphinx in particular, which has a railtie, but no engine).

I'm not quite sure why, but when bundler is installing gems in the failing build, it uses a _very_ old version of actionmailer - 0.6.1. I'm quite sure railties weren't a thing then (10 years or so ago!). I'd recommend being clear about your runtime dependencies in your gemspec instead of you

[2016-04-20 18:40] ericenns opened #73 "Rackup has error trying to load engine gem"
This is the stack trace that I get when trying to run rackup, not sure what the problem is.

    /home/ericenns/.rvm/gems/ruby-2.2.3@ciqap_cd4/gems/bundler-1.11.2/lib/bundler/runtime.rb:80:in     `rescue in block (2 levels) in require': There was an error while trying to load the gem 'ciqap_cd4'. (Bundler::GemRequireError)
        from /home/ericenns/.rvm/gems/ruby-2.2.3@ciqap_cd4/gems/bundler-1.1

[2016-04-21 03:55] pat commented on #73
Hmm, I'm not sure of the cause, the error message isn't particularly helpful… don't suppose the source code of this library is online?

[2016-04-21 14:11] ericenns commented on #73
It isn't but I just put something up that I followed the same steps, the name has just changed to combustion_test.

Here it is:

https://github.com/ericenns/combustion_test

[2016-04-25 09:57] pat commented on #73
Just found some time to fire up that test repo locally, and the issue is that while you've got a dependency listed for Rails, you're not actually requiring it (anything listed in the gemspec as a dependency still needs to be manually required).

The unhelpful error messages are either from Rails or Bundler, I'm not sure which, but either way, adding `require 'rails'` to `lib/ciqap_cd4.rb` before y

[2016-04-25 13:48] ericenns commented on #73
I ended up adding require 'rails' to  config.ru and now the rackup command works.

[2016-04-25 13:49] ericenns commented on #73
Also I updated my example combustion_test with the fixes, for future reference.

[2016-04-25 13:49] #73 closed

[2016-06-01 19:01] ericenns commented on #62
@fwl mind commenting on what you had to do to fix this. I am having the same issue.

[2016-07-13 06:14] tf opened #74 "Generator integration"
Combustion works really well for me so far. There are some situations though where I would like to run a generator inside the dummy app and was wondering whether turning this into a Combustion feature might be helpful. For example:

* When testing an engine that depends on another engine being installed (i.e. Active Admin).
* When the tested engine requires custom setup that can be performed via a

[2016-07-13 06:30] artofhuman commented on #74
Hi @tf.
I have the engine which depends on active admin.
And in every build i recreate application. But i not use combustion in this engine.  It`s may be useful for you:
https://github.com/artofhuman/activeadmin_settings_cached/blob/master/spec/spec_helper.rb#L19-L21

https://github.com/artofhuman/activeadmin_settings_cached/blob/master/spec/support/rails_template.rb

[2016-07-13 06:48] tf commented on #74
Hi @artofhuman,
thanks for the example. I am also doing something similar in [another non Combustion project](https://github.com/codevise/pageflow/blob/master/spec/support/pageflow/dummy/rails_template.rb). But I was wondering if we might be able to simplify things by having Combustion take care of it.

[2016-07-17 10:35] pat commented on #74
Tim, this certainly sounds useful. I wonder if it's better to keep it separate from `Combustion.initialize`, but likely to be invoked directly after that? `Combustion.generate` perhaps?

The one thing I'm wary of is if these generators require user input. Granted, I'd expect this to generally not be the case, but would be great to handle these situations in case people make mistakes or a generator

[2016-07-18 08:10] tf commented on #74
Hi Pat,

thanks for your answer. Most generators that I'm aware of allow to replace manual input with command line flags of some sort. So that should not be a big issue.

I'm mainly not sure yet, where those generators should output files. `spec/internal` is almost like a dummy application, but often a lot more minimal - which is good, but might trip up generators which expect to be run in the con

[2016-07-23 12:40] #59 closed

[2016-07-23 12:40] #67 closed

[2016-07-23 12:40] #72 closed

[2016-07-23 12:42] pat commented on #74
Hmm, where to output the generated files is a tricky thing. I was thinking in `spec/internal`, but if you're not committing those files, then yes, that could get confusing. No better solution comes to mind, though…

[2016-07-23 16:24] krzysiek1507 opened #75 "0.5.5 has changed API"
Patch update shouldn't change API.

[2016-07-24 02:37] pat commented on #75
I appreciate your concern, but everything within `Combustion::Database.setup` is internal implementation - the calls within that are not documented anywhere, and weren't built with re-use in mind. Even `Combustion::Database.setup` itself is only used internally.

Do you have code that is using the old methods of `Combustion::Database`? I'm curious as to how people may be using Combustion beyond wh

[2016-07-29 10:52] tf commented on #74
There could be an option to have an ignored `spec/dummy` directory which is bootstrapped with the files from `spec/internal`. That way generators could create files there. I'm not sure though if that could mean a too fundamental departure from the core ideas of Combustion.

[2016-08-04 12:40] pat commented on #74
It does feel like a stretch - if you're wanting a full app, then maybe the non-Combustion path is the easier one?

That said, I'd be open to Combustion working with both the current approach (minimal app, only what's necessary in `spec/internal`) or a full app in `spec/internal` and Combustion just provides a unified interface.

Given you've got some gems that take the non-Combustion path: how do

[2016-08-17 12:48] tf commented on #74
Yes. `spec/dummy` is ignored. Additionally I generate to `spec/dummy/rails-4.2.0` etc to allow for multiple environments in development. I do some custom environment variable magic at the moment, where I probably should have used Appraisal instead.

Since everything works at the moment, I would be hesitant to port the app to Combustion even if full app support was a thing. And for the cases where

[2016-08-17 13:32] pat commented on #74
Great to have the feedback :)

[2016-08-17 13:32] #74 closed

[2016-09-22 02:45] dancallaghan commented on #67
To anyone who stumbles across this issue, I fixed it by adding `sprockets-rails` as a dependency:

[code]

Then include the sprockets railtie in Combustion:
[code]

or:
[code]

Might be going about it the wrong way, but it got me onto the next roadblock.

[2017-01-04 20:35] ericpeters0n opened #78 "Support for Minitest?"
yes/no/maybe/already?

[2017-01-04 22:52] pat commented on #78
I've not used Combustion with Minitest, nor does anything within it exist specifically for that purpose, but patches are very much welcome. It was discussed briefly in #4, but nothing detailed.

[2017-01-04 23:16] ericpeters0n commented on #78
Thanks for the reply. I’ll poke at it to explore feasibility and effort when I get a chance! :)

[2017-02-23 00:43] jmervine commented on #78
FWIW, I was able to use this with Minitest by creating a `test/test_helper.rb` file, which I required in each of my tests files...

[code]

[2017-03-02 11:32] pat commented on #78
Thanks for sharing that Joshua, great to hear it's working for you :)

[2017-06-05 12:57] NullVoxPopuli commented on #70
Anybody have an app I can look at? I'm getting the same error @bobf was getting about ActionDispatch. I'm just trying to run tests.

[2017-06-05 13:21] pat commented on #70
@NullVoxPopuli I don't suppose the source of the engine/railtie you're working on is visible on GitHub?

I can point to a couple of gems of my own that use Combustion, if that's helpful, though I generally don't make use of the controllers/views/routing in my engines:

* https://github.com/pat/gutentag
* https://github.com/pat/thinking-sphinx

[2017-06-30 16:48] fschwahn commented on #78
I did exactly the same, also works flawlessly. I'm doing integration tests, however I'm not using activerecord.

[2017-10-30 10:12] Asherlc opened #80 "Autoloading models?"
Is there anything special required to autoload models in the 'app/models' directory of an engine? I've got spec/internal setup according the readme, but I'm getting `uninitialized constant MyModelName` when I try to run any model specs. Are there any special configs required? I've got `Combustion.initialize! :all` in my spec_helper.

[2017-10-30 10:40] pat commented on #80
Hi Asher

It's certainly possible to have models autoloaded - in my own gems, I find I need to make sure I have Rails being loaded, and the gem I'm developing to have a subclass of `Rails::Engine` which is also loaded as part of the gem setup. Are both of these things the case in your own code?

Some examples:
* https://github.com/inspire9/visa/blob/master/spec/spec_helper.rb#L5
* https://github.c

[2017-10-30 11:32] Asherlc commented on #80
Thanks for the quick response! I've added both lines to their respective files in my engine, but I'm still getting the same error. I notice your model is scoped to the `Visa` namespace: https://github.com/inspire9/visa/blob/master/app/models/visa/token.rb.

My model however is in the global namespace (extracted from a previous app where it still depends on the naming). Is it possible that would ca

[2017-10-30 11:33] Asherlc commented on #80
For reference, here's my current spec_helper.rb:

[code]

[2017-10-30 11:36] Asherlc commented on #80
Ah! I needed to add `require <my_engine>` to the spec_helper. Mystery solved!

[2017-10-30 11:36] #80 closed

[2017-10-30 23:08] pat commented on #80
Good to know you got it figured out :)

For what it's worth, I think you should have the require statement for your engine in your actual gem's code, so it's available in Rails apps, not just in your tests.

[2017-12-14 12:55] anson2590 opened #81 "uninitialized constant Combustion::Bundler"
Hi,
Im using combusion version 0.7.0 gem and rails version 5.1. , when i try to run rspec I get error saying.
Failure/Error:
  Combustion.initialize! :action_controller do
    config.cache_store = :null_store
  end

NameError:
  uninitialized constant Combustion::Bundler

Can someone explain what the issue might be and how to resolve it.

[2017-12-15 10:00] pat commented on #81
Hi 👋

It sounds like you're not loading Bundler before you're loading Combustion? I don't suppose you can spare the `spec_helper.rb` file for your project? Or even better, is the project open-source and online so I can review it directly?

[2017-12-15 10:20] anson2590 commented on #81
Hi,
Thanks pat, now it is working i had bug in my code, fixed it.

[2017-12-15 10:24] pat commented on #81
Oh great, good to know you figured it out :) Any further issues, do let me know!

[2017-12-15 10:24] #81 closed

[2018-01-14 01:48] #75 closed

[2018-01-14 01:48] #78 closed

[2018-01-14 01:55] pat commented on #60
Closing this issue as it hasn't been touched in a few years. Given the work @fgarcia's gone to for finding a way, it sounds like Spring (and likely Zeus) expects a proper Rails app to exist, rather than Combustion's minimalist approach. People are welcome to revisit this and I'm open to patches generally, but only if we don't end up having a fully fledged Rails app generated (otherwise, there's no

[2018-01-14 01:55] #60 closed

[2018-02-09 14:40] wintersolutions opened #82 "Allow different database environments"
In my projects I use combustion not only for RSpec specs but also to run the engine as an application via `rackup` and `rack-console`. It would be nice to have the option to run those commands in the `development` environment since this would allow to run the app and specs at the same time (and other things).

Currently the database is [hardcoded](https://github.com/pat/combustion/blob/2e9c14ae2a9

[2018-02-10 01:27] pat commented on #82
Oh, didn't see the additions to the comment until just now!

In 6d2fe4ed1b6cb3539158dfcbb8f3ea579fc1bc33 I've removed the hard-coded references to the environment - so using RAILS_ENV to dictate which env you want should hopefully do what you're after? (The default will still be `test`).

If that doesn't quite fit, do let me know.

[2018-02-10 02:19] wintersolutions commented on #82
That was quick. Thanks a lot. I'll give it a spin in the next days!

[2018-02-19 05:11] pat commented on #82
Just saw your additional thoughts now…

I just want to confirm I'm understanding your point - most people use rackup for dev environments, but by default in engines with combustion, it'd be the test env - and this difference is the concern? (Not saying you're wrong to have this concern! Just want to make sure I'm understanding it correctly)

[2018-02-20 00:56] wintersolutions commented on #82
So until this commit the environment always defaulted to the test database. Now this behaviour would change for all projects since `rackup` defaults to `development` environment.

So before it was:

`development` environment & `test` database

Now it would be:

`development` environment & `development` database

I'm not sure how many projects would be negatively affected by this.

Also I figured o

[2018-03-07 11:55] wintersolutions commented on #82
@pat The code I submitted excludes default databases in Rails environments that are not currently in use from beeing resetted. The feature to reset other databases by default is kept tough. Ie. when you run in the `development` environment, the `test` will not be reset, the database `foo` will tough.

I personally don't think this is a very good approach since its inconsistent and can't account fo

[2018-03-16 06:31] anson2590 opened #84 "Application has been already initialized issue"
I am using rails 5 and ruby 2.4, when I try to run rspec for my gem works locally, I am getting runtime error in jenkins as follows below I have mentioned error and rails_helper code.

[code]

Can anyone please help me to solve this issue.

[2018-03-16 06:38] pat commented on #84
Can you share what's in your `spec/rails_helper.rb` and `spec/spec_helper.rb`? I think they might provide some helpful clues.

[2018-03-16 06:53] anson2590 commented on #84
rails_helper.rb
require 'spec_helper'

ENV['RAILS_ENV'] ||= 'test'
# require File.expand_path("../../config/environment", __FILE__)
Dir[File.dirname(__FILE__) + '../internal/config/environment/*.rb'].each {|file| require file }

require 'combustion'
require 'support/shared_examples'

Combustion.initialize! :action_controller
Object.send(:remove_const, :ActiveRecord)

require 'rspec/rails'

RSpec.c

[2018-03-16 06:57] pat commented on #84
Oh, I missed the fact that this only happens in Jenkins… that makes it more odd!

Has it ever worked for you in Jenkins? Are there any differences in how your tests are invoked on Jenkins compared to your own machine?

[2018-03-16 07:03] anson2590 commented on #84
It has never build on jenkins. The order of execution in jenkins is first bundle will happen then specs will be executed.

[2018-03-16 10:58] pat commented on #84
I don't suppose the Jenkins server and/or your gem code are publicly online anywhere? I'm really not sure what could be causing this problem.

[2018-03-19 01:52] pat commented on #82
Closing this now that #83 is merged.

[2018-03-19 01:52] #82 closed

[2018-03-19 10:44] anson2590 commented on #84
Thanks for the help, it got worked the issue was add_development_dependency does not work with test environment, so added all dependency gems to group development and test, it fixed the issue.

[2018-03-19 10:46] pat commented on #84
Great to know you found the solution :)

[2018-03-19 10:46] #84 closed

[2018-04-13 23:58] jrochkind opened #85 ""No such file - ["config/database.yml"]" (not a rails engine)"
I have a gem which isn't actually a Rails::Engine (it has no Rails::Engine in it), which could be the root of the problem. My gem doesn't need any of the features that come with Rails::Engine, but it _is_ meant for use with Rails (and does depend on ActiveRecord), and I want to have some integration tests in rspec to verify it works as expected in the context of Rails.  So combustion seems very us

[2018-04-14 00:09] jrochkind commented on #85
Aha. I had [standalone_migrations](https://github.com/thuss/standalone-migrations) in my app, from before I considered using combustion.

They are incompatible in some way. Removing standalone-migrations, the error goes away, and my tests are running (although oddly having some failures they didn't have before, even before actually adding the integration test!  Due to some differences in environme

[2018-04-14 00:09] #85 closed

[2018-04-14 02:33] pat commented on #85
Great to know you've got things working :) Certainly if you hit other problems you're unsure about, feel free to open further issues here!

[2018-04-14 13:36] jrochkind commented on #85
@pat thanks! I've got it working, but did have some confusions and things I'm still not certain about. Would it make sense for me to open an issue for each individually?

[2018-04-15 16:50] jrochkind opened #86 ""No connection pool with 'primary' found.""
In the process of trying to change my existing gem over to use combution. My tests run correctly when I do `Combustion.initialize! :active_record`.  But when I try to switch over to just `Combustion.initialize!`, so I can start adding integration tests that use other parts of rails, every access to the db results in a `ActiveRecord::ConnectionNotEstablished: No connection pool with 'primary' found

[2018-04-15 16:53] jrochkind commented on #86
Oh, duh. I need `Combustion.initialize! :all`, not just `Combustion.initialize!` with no args. Somehow I thought `:all` was the default.

Now my tests are running... I'm getting failures I wasn't getting with `Combustion.initialize! :active_record`, but that must be due to rails setting things up differently somehow.

[2018-04-15 17:41] jrochkind opened #87 "Q: any way to use generators in internal app?"
It would be convenient to be able to use rails generators (`rails generate model ...`, `rails generate scaffold ...` etc) in the `./spec/internal` dummy app. Has anyone found a way to do that?

[2018-04-15 18:05] jrochkind opened #88 "README, environments, rackup"
The README suggests

But the config.ru file generated has:

So if you try following README instructions to just `rackup`, you get `uninitialized constant Combustion`. You either need to include combustion in the `development` group, or change the line in the `config.ru` to `Bundler.require :default, :development, :test`.

I'm not sure if `:development` is really needed there, not sure if the line

[2018-04-16 12:08] pat commented on #88
Great pickup, and that is certainly a reasonable point of confusion.

What I've just done now is remove the `:group => :test` option from the README, as I feel the `config.ru` file is correct. The labels are confusing, though… in a Rails app, yes, your choices are usually between development, test, and production. In a gem, though, you're really considering runtime dependencies vs development depe

[2018-04-16 12:10] pat commented on #87
I'll have to look into the Rails code to see how it figures out a Rails app's location/context for the generators… it may be feasible? My biggest concern would be about whether this logic in Rails changes often (thus making support across Rails versions challenging). Let's keep this issue open for the moment, and I'll see what I can figure out.

[2018-04-16 12:49] pat commented on #87
Okay, a little bit of research, and here's where I'm at…

There's two different options here: should the generate command operate within the context of the engine? Or within the context of the dummy app? Arguably it could be either - and Rails itself has some code under the hood that allows for the former: if you use Rails to generate your engine, it'll create [a `bin/rails` file](https://github.c

[2018-04-18 03:58] jrochkind opened #89 "secret_token => secret_key_base"
Running Combustion under 5.2 results in:

[code]

[2018-04-18 04:01] jrochkind commented on #89
In my own app, which runs CI in multiple rails versions (not using `appraisal`, just my own hack, appraisal probably has it's own way...), I get rid of deprecation message like this:

[code]

[2018-04-18 04:32] pat commented on #89
I've just pushed a commit to avoid setting `secret_token` for Rails 5.2 onwards (d22798dc5bfcef64b6dd587d769b455233fc2829). Also, `secret_key_base` is already being set, so for your temporary workaround, you don't need to worry about that.

Thanks for reporting the issue :) I'll push a gem release out in the next week or so.

[2018-04-20 07:27] #86 closed

[2018-04-20 07:28] pat commented on #88
Marking this as closed, but don't hesitate to add thoughts/suggestions if you'd like.

[2018-04-20 07:28] #88 closed

[2018-04-20 07:28] pat commented on #87
Marking this as closed, but don't hesitate to add thoughts/suggestions if you'd like.

[2018-04-20 07:28] #87 closed

[2018-04-25 02:34] pat commented on #89
0.9.1 is now released with this fix :)

[2018-04-25 02:34] #89 closed

[2018-08-02 00:24] crowalert opened #90 "No connection pool with 'primary' found"
hi guys i´m lost,

[code]

Any ideas?

[2018-08-02 00:26] crowalert commented on #90
This is the database.yml data:

default: &default
  adapter: oracle_enhanced
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
development:
  <<: *default
  database: 177.232.84.112/EX

[2018-08-02 05:08] crowalert commented on #90
Actually i´m just setting it up ruby on rails with Oracle DB, to start developing  a web app, it's the first time i'm doing this, i have no environment in the config, does it enhance the pool settings?

[2018-08-02 05:11] pat commented on #90
Ah, you're building a Rails app? What's the reasoning for using Combustion?

[2018-08-03 03:57] crowalert commented on #90
Yes, i´ts a ROR web app, but i have this issue configuring i haven´t seen the Localhost:3000 page, i´m just having errors...

[2018-08-03 05:58] pat commented on #90
Why are you using Combustion though?

[2018-08-03 17:37] crowalert commented on #90
'cause when i installed Ruby on Rails and Oracle, installers downloaded  and configured combustion automatically...

[2018-08-07 04:35] crowalert commented on #90
![oracle](https://user-images.githubusercontent.com/41499574/43754573-2bd3d972-99d1-11e8-89ff-63abd72ddf7c.jpg)
![ruby](https://user-images.githubusercontent.com/41499574/43754574-2beb512e-99d1-11e8-92bb-037c85c24614.jpg)
![gems](https://user-images.githubusercontent.com/41499574/43754575-2c013bd8-99d1-11e8-9d50-1a39a262896d.jpg)

Those are the tutorials that i followed...

[2018-08-07 04:41] pat commented on #90
Perhaps this page has some helpful things? (Though maybe you've already looked through it):
http://www.oracle.com/technetwork/articles/saternos-ror-faq-097353.html

If possible, I would recommend using SQLite to try out Rails rather than Oracle, as it's simpler and easier to get going. Once you're more familiar with Ruby and Rails, you can investigate other databases (Oracle, or PostgreSQL or MySQ

[2018-08-07 04:45] crowalert commented on #90
do i remove Combustion?, where is it? i don't see it on the gem list...

[2018-08-07 04:48] pat commented on #90
To be honest, I'm not sure you were ever using it. It's not in the list of gems you screenshotted (and they seem to be in alphabetical order, so it should be there) - and it is not one of Rails' default gems. If it's not in your `Gemfile`, then you're not using it.

[2018-08-07 04:51] crowalert commented on #90
i will check the article you gave me, maybe found the reason of the missing pool...

[2018-08-07 04:55] crowalert commented on #90
or change to sqlite3, thank you friend...

[2018-10-03 14:03] jrochkind opened #91 "release as 1.0?"
Is it time? I think the approach is proven to work for many of us, and maybe yes?

[2018-10-03 16:13] #90 closed

[2018-10-03 16:19] pat commented on #91
It's been seven years, I guess a 1.0 release is due! Just published it :)

[2018-10-03 16:19] #91 closed

[2018-10-03 16:19] pat commented on #91
Thanks for the suggestion :)

[2018-10-08 19:40] jrochkind opened #92 "failure on rails master"
If you try running a combustion-enabled app against rails master, you get an exception at `Combustion.initialize!`, ending in:

[code]

https://github.com/pat/combustion/blob/20eb34e6299f6279dc7b9f4905c7ea990d436513/lib/combustion/database/reset.rb#L56

Not sure what it means that ActiveRecord::Base.configurations doesn't have a #keys anymore in Rails 6.

[2018-10-08 19:45] jrochkind commented on #92
Looks like maybe it's here

https://github.com/rails/rails/commit/fdf3f0b9306ba8145e6e3acb84a50e5d23dfe48c#diff-5e9551294914b338d923032fa904c6be

And a replacement may be the kind of crazy `ActiveRecord::Base.configurations.configurations.map(&:env_name)`.

But nah, that's the empty array for me, maybe not right.

[2018-10-08 20:02] pat commented on #92
Looks like `ActiveRecord::Base.configurations.configurations` is no longer a hash, but you can call `to_h` on it to get a hash. I'll sort out a fix.

[2018-10-08 20:05] pat commented on #92
Try the latest in `master`? Should hopefully work well.

[2018-10-08 20:22] jrochkind opened #93 "Q: modern rails, engine testing, and combustion"
The "default Rails" installation/infrastructure for engines has changed a lot since Rails 3.0 when combustion was first written.

I forget if Rails 3.0 even installed a "dummy" app. But the dummy app installed now is relatively light weight already (although still not nearly as light-weight as combustion's).

But additionally, the standard Rails engine setup gives you some features that are depend

[2018-10-08 20:26] jrochkind commented on #92
Now on combustion master, it's:

[code]

[2018-10-08 20:44] pat commented on #92
Pushed a fix (and tested it locally first!)

[2018-10-08 21:01] jrochkind commented on #92
Seems to work! (and my own project fails two tests and has two deprecation warnings on rails master, good to know!)

Thank you!

Release a bugfix patch?

[2018-10-08 21:05] pat commented on #92
I think I'll hold off on releases, given Rails itself hasn't released these changes. They may go and change things again!

[2018-10-08 22:59] pat commented on #93
Firstly, some thoughts on Combustion's maintenance status: I consider it to be actively maintained. I don't feel there are new features to add, but I respond to bug reports and aim to keep it working with released Rails versions. Testing against Rails' master branch, however, is not something I actively do - in Combustion, or in any of my libraries.

I use Combustion in other gems I maintain - of

[2018-10-09 14:13] jrochkind commented on #93
Thank you, this is super helpful!  Sometimes one just doesn't know what's going on with an anonymous  gem on the internet, right? Thanks for the update!

The Combustion approach of course still has a tiny dummy app, it's just a lot smaller/fewer files.  The Rails 5.2 dummy app is already way fewer files than it was in 3.0, but still more than combustion.

I guess the question would be... why do we

[2018-10-10 16:38] pat commented on #93
Just spun up a generated engine via Rails. It still creates a decent amount of files (particularly, everything in `config`). It does _not_ generate a Gemfile for the app though, which is nice to see - easier to manage testing dependencies purely from the engine's perspective (and thus testing across different Rails versions should be easier).

The amount of generated files is annoying - yes, I'm s

[2018-10-10 17:14] jrochkind commented on #93
Actually, I _got_ the generators to work!  What I didn't get to work was `rake db:reset` and other `db:` tasks, which are also depended upon by the rails-generated test tasks.

To me, just "having fewer files on disk" isn't really an advantage, I don't really care how many files are on disk, especially if I never have to look at them or pay attention to them. I'm kind of surprised that just minimi

[2018-10-10 21:16] pat commented on #93
The fewer files thing is less about the number of files generally, but far more about how well they go across Rails versions. And if they need changing to make them cross-version compatible, then those are changes I'd need to make across _every_ engine's test suite. Better to have that logic wrapped up in Combustion and thus the changes only need to be made once, and then the gem update can be sha

[2018-10-10 23:48] jrochkind commented on #93
If I can get the rake tasks working too, would you be interested in a PR to have combustion generators generate the right stuff to have it all working? As an option?

[2018-10-10 23:48] jrochkind commented on #93
i guess generate _or_ have internally without generation, which would be better, but might not be able to get it to work like that.

[2018-10-11 15:03] pat commented on #93
I'd be open to a PR for the rake tasks, sure. It feels like only a subset are useful in this case, though? `db:create`/`db:drop` are helpful - but `db:migrate` less so, given that's handled automatically as part of Combustion's initialisation.

As for generators… do they work already? Or changes are needed?

[2018-10-11 17:10] jrochkind commented on #93
Generators don't work already, I had to hack them in, I just succesfully did so. :)

I am choosing to (try to) use combustion with "out of the box" style migrations too, since my engine _provides_ migrations to client apps (which need to be provided as migrations), and needs to test with those migrations too, and the out-of-the-box way of this being all wired up works out nicely.

It may be that m

[2018-10-11 17:11] jrochkind commented on #92
Cool thanks. Without a release, I need to include combustion master-from-git in my `Appraisal` file for rails edge, so I can test against it. Which works, is just a little bit messy. And I think makes travis take longer, I don't think it can cache gems installed direct from git.

https://github.com/jrochkind/attr_json/pull/35/files#diff-3bb7346aca79d8142e16e61372bd04dcR31

[2018-10-16 19:52] pat commented on #92
Yeah, that's the best way forward for the moment. It may slow down your build slightly, but the Rails repo is far bigger, so I'd expect Combustion is a spec of time in comparison :)

[2019-01-05 01:29] utkarsh2102 opened #94 "Support for Rails 5"
Tests are failing for Rails 5.
Please include the same.

Here are the logs:

[code]

[2019-01-05 01:44] utkarsh2102 opened #95 "Error while building the package"
I am getting the following errors while building the package.
Please check the same.

[code]

[2019-01-05 02:03] pat commented on #93
Just going to close this issue - the discussion's great, I just treat open issues as things I need to do. Do feel free to add more thoughts in if you want (whether that be @jrochkind or others who come across this).

[2019-01-05 02:03] #93 closed

[2019-01-05 02:03] pat commented on #92
Closing this given this issue itself is resolved, even if we're waiting on Rails 6 (sounds like it's not going to be out for a few months or more).

[2019-01-05 02:03] #92 closed

[2019-01-05 02:06] pat commented on #94
I'm finding the tests are passing for me… can you confirm how you're running the tests, and which versions of Rails and Ruby you're using? I've just given them a spin on both MRI 2.5.3 and 2.6.0 (using the latest Rails releases in each of the 5.0, 5.1 and 5.2 series), and haven't hit any problems.

[2019-01-05 02:07] pat commented on #95
The gem builds fine for me on Ruby 2.6.0 - can you confirm which version of Ruby you're using? Also, can you share the contents of your gemspec?

[2019-01-23 17:05] jrochkind commented on #92
@pat Rails 6.0.0.beta1 is out. Would now be appropriate to have a version of combustion released that can work with it?

[2019-02-08 22:39] palkan opened #96 "Maybe release? Rails 6 is broken("
Rails 6 is not working with the latest release (AR configuration changes), but works fine with the lates master (thanks to this commit
https://github.com/pat/combustion/commit/3c4bc97e0ff7870c1589bcdbc1c41b3966932eb6).

Any plans to release it?

P.S. Thanks for the great gem)

[2019-02-13 05:28] pat commented on #96
Just released v1.1.0 which includes the Rails 6 fix :)

[2019-02-13 05:28] #96 closed

[2019-02-13 05:28] pat commented on #95
Closing this issue as it's been dormant for a month. If you're still seeing issues, please do comment here anyway.

[2019-02-13 05:28] #95 closed

[2019-02-13 05:29] pat commented on #94
Closing this issue as it's been dormant for a month. If you're still seeing issues, please do comment here anyway.

[2019-02-13 05:29] #94 closed

[2019-02-13 05:30] pat commented on #92
Just released v1.1.0 with the Rails 6 fix - sorry for the delay! Was caught up with organising RubyConf AU, and then dealing with Bundler v2 challenges on old Rails versions.

[2019-03-14 14:57] jrochkind opened #97 "Combustion failing for me on CI with Rails 5.2.2.1: tmp/development_secret.txt"
Having trouble figuring this one out.

I am using combustion with appraisal, to test multiple Rails versions.

On my Travis CI test, the appraisal using (the recently released) Rails 5.2.2.1 is now failing, on `Combustion.initialize! :all`, with:

[code]

However, I can't reproduce this locally, the appraisal run works fine locally, with same rails version.

Working on trying to reproduce locally.

[2019-03-14 15:23] jrochkind commented on #97
OK, some more info! And it's looking good for combustion. :)

1. I still can't reproduce this locally, it only fails on travis. Not sure why.

2. However, i got the same error on a different project that does _not_ use combustion, testing under rails 5.2.2.1. So it does not appear to be combustion's fault. It could be some kind of bug in 5.2.2.1. The failure is definitely related to [this security

[2019-03-14 16:24] jrochkind commented on #97
Filed with Rails https://github.com/rails/rails/issues/35611

I don't think it's a combustion issue at all, and I think in fact the latest version of combustion _protects_ you from the problem, so!

I won't close this just so you see it, but I think it can be closed. :)

[2019-03-14 23:56] pat commented on #97
Appreciate all the details, and very happy to see it's already fixed in Rails 👍  Great detective work!

[2019-03-14 23:56] #97 closed

[2019-03-26 22:36] jrochkind commented on #84
I ran into this odd error too. It has happened to me in a _really_ odd way.

I have some tests that pass fine. My project uses both combustion and appraisal.

In my app, I have `gem "chromedriver-helper"` in my Gemfile.  I saw that chromedriver-helper was EOL. Experimentally, I wanted to see what would happen if I simply removed it from my Gemfile.

Removing it from my gemfile, run `bundle install

[2019-03-27 01:01] pat commented on #84
Hrm. is it possible to alter your local copy of combustion to check whether `Combustion.initialize!` is being called just the once? Also, is it possible to share the full `spec_helper.rb`?

And of course, if the source code for this is available publicly, I'm happy to debug directly too :)

[2019-03-27 01:15] jrochkind commented on #84
It is open source! https://github.com/jrochkind/attr_json/blob/master/spec/spec_helper.rb

While you can see that the `Combustion.initialize` has a block there, I removed the block, it didn't change the reproduction.

I don't expect or deserve it, but if you wanted to take a look at my source directly that would be very kind of you!

If you checkout master, and run `./bin/rspec`, it should pass. I

[2019-03-27 13:39] jrochkind commented on #84
Writing this out made me think, gee, maybe try deleting `spec/internal/tmp/cache` -- but that didn't seem to help.

Then I noticed, aha, I have a `require 'chromedriver/helper'` in my spec_helper.rb, that probably shouldn't be there if I don't have `chromedriver-helper` dependency anymore. But removing that... also didn't resolve issue, still reproduces.

This is all very odd indeed.

OK, I did pu

[2019-03-27 13:45] jrochkind commented on #84
OK, and _that's_ because I had accidentally removed `gem "selenium-webdriver"` from my Gemfile too.

When I put that back in (thanks git for making sure I can always see exactly what I've changed), I no longer get "application has already been initialized". I get failures, but they are not combustion related, they are clearly related to my removal of chromedriver-helper -- "Selenium::WebDriver::Er

[2019-03-27 23:59] pat commented on #84
Glad you've found a way through this!

I wonder, do you have `--require spec_helper` in your `.rspec` files (either at a project or user level)? I'm wondering if the first require is from that, but it fails non-obviously, and then the spec file itself loads the `spec_helper` too, and you get the second duplicate app initialisation? 🤔

[2019-06-13 22:38] voltechs commented on #13
For those of you who might be using your engine as a git submodule in a bigger project, here is what I've settled on (riffed a bit from @mcmire's `Rakefile` above). I will admit that a bit of the final result is due to trail/error. For instance, I don't really know what the `task :environment` block does, but I know when I run `rake db:migrate`, it executes that block, and thus requires additional

[2019-07-11 14:32] WilsonChiang opened #98 "Rails 6 - ActiveRecord::MigrationContext.new expects 2 args"
https://github.com/pat/combustion/blob/master/lib/combustion/database/migrate.rb#L47

Looks like `ActiveRecord::MigrationContext.new` now expects to be called with 2 args (https://github.com/rails/rails/blob/master/activerecord/lib/active_record/migration.rb#L1018)

[code]

[2019-07-12 08:18] pat commented on #98
Ah, thanks for pointing this out!

I've just pushed a fix, but I'm going to hold off on a gem release given the change in Rails isn't part of a release yet either. So, you're welcome to use Combustion via the git repo in the meantime :)

[2019-08-01 18:43] replaid commented on #27
Just spent hours resolving this. I suggest that the README's Usage section could begin with a prominent warning that problems can occur if gems are specified as development dependencies in the gemspec and not directly in the Gemfile. This is unusual and nonintuitive.

[2019-08-01 22:05] parndt commented on #27
@replaid thanks for the feedback; given it's fresh in your mind, how would you feel about opening a pull request adding a warning like this to aid future users? :heart:

[2019-08-02 02:44] pat commented on #27
I'm not sure we want to recommend `combustion` or `rails` to be listed in the Gemfile. As you've noted John, this isn't the usual approach to things. Ideally, if both are standard dependencies (development or runtime), then having them in the gemspec _should_ work. That's certainly how I use Combustion in my own projects.

If anyone comes across this issue and finds this is not the case - I'd love

[2019-08-02 04:26] parndt commented on #27
Ah thanks @pat 	!

[2019-08-05 01:33] pat commented on #98
I've recently released v1.1.1 with the previously mentioned fix - and thus supporting Rails 6.0.0.rc2 - so I'm going to consider this issue all sorted :)

[2019-08-05 01:33] #98 closed

[2019-08-25 20:56] utkarsh2102 opened #101 "Typo in README.md"
Hey,

While looking at it, there's a typo in README.md.
Line 153: `proccess`; it should rather be `process`.

[2019-08-26 02:01] pat commented on #101
Thank you, just fixed it :)

[2019-08-26 02:01] #101 closed

[2019-10-25 14:29] shir opened #102 "Error Sprockets::Railtie::ManifestNeededError"
When I run specs with combustion configured I have next error:

[code]

This error is for any spec. Everything works when I use rails generated dummy application.

## My environment:

Dependencies:
[code]
I've tried to run both with appraisal and without with same result

Rails version actually installed 5.2.3

My `spec/rails_helper.rb`
[code]

`spec/internal/routes.rb`:
[code]
(real engine name i

[2019-10-27 00:27] wintersolutions commented on #102
@shir This is new sprockets behavior (see https://github.com/rails/sprockets/blob/master/UPGRADING.md). I agree this should be handled in combustion somehow. Here is a workaround for the meantime:

Its working in a newly created rails dummy app because it'll contain a `manifest.js` which is required by `sprockets` v4. Here is a example:

`/my_engine_with_rails_dummy/app/assets/config/my_engine_wit

[2019-10-28 12:19] pat commented on #102
Thanks @wintersolutions, your suggestion sounds correct to me. @shir: I would certainly appreciate the confirmation that this has worked for you before I add it to the generator in Combustion :)

[2019-10-28 16:32] jrochkind commented on #102
This is all very confusing, the research I did on it can be found at https://bibwild.wordpress.com/2019/10/15/sprockets-4-and-your-rails-app/

I think that the manifest.js to the generator is _probably_ the right solution.  The Rails-generated content of the manifest_js is technically different for Rails 5.x apps and Rails 6.0 apps though -- the Rails 6.0-generated apps don't have `//= link_direct

[2019-10-28 16:40] jrochkind commented on #102
Hmm, the combustion-generated skeleton doesn't have an `app/assets/images`, so putting `link_tree ../images` in the manifest actually generates an error.

The combustion-generated skeleton also doesn't seem to have an `app/asset/stylesheets` or an `application.css`... in my app, I think I might try a `manifest.js` that is only `//= link application.js`, for the `application.js` the combustion-gene

[2019-10-28 22:51] pat commented on #102
@jrochkind Can the manifest file be empty? I guess that's what I'd probably default to (but if I'm generating a JS file, then I guess it makes sense to reference that).

[2019-10-29 12:10] shir commented on #102
Thanks to all. Just adding an empty file `spec/internal/app/assets/config/manifest.js` helped.
But I think it should be fixed within cumbustion.

[2019-11-04 00:42] pat commented on #102
Just pushed the v1.1.2 release that generates an empty manifest file as part of the `combust` call. Thanks all for the input here :)

[2019-11-04 00:42] #102 closed

[2020-04-01 15:51] Lykos commented on #98
Hey, I just wanted to say that I am really thankful for this issue. I tried forever on how to get a test for migrations to work. I couldn't figure out what to pass to schema_migrations. I googled and tried for hours, but there isn't really much documentation. But thanks to this issue, I finally found it!

See this stackoverflow question for more details (already self-answered):
https://stackoverfl

[2020-04-17 22:18] utkarsh2102 opened #104 "Loosen (or bump) dependency on rubocop?"
Hi @pat,

Thanks for your awesome work on this so far.
https://github.com/pat/combustion/blob/309e9f7c69325d1a209727823e9c7ca6d75cdf5b/combustion.gemspec#L30

Whilst maintaining this library in Debian, it fails to build since the version in the Debian archive is 0.80.1. We'd need to patch this, can this be done here, too?

Also, irrespective of this, can you please make a new release, too? :)

[2020-04-18 04:30] pat commented on #104
Just updated and relaxed the dependency, and published v1.2.0 :) Thanks for the prod!

[2020-04-18 04:30] #104 closed

[2020-04-18 09:17] utkarsh2102 commented on #104
You're awesome! ❤️

[2020-04-20 04:09] ankane opened #105 "`no implicit conversion of nil into String (TypeError)` with 1.2.0"
Hi, Combustion is great. Thanks for creating it!

I just upgraded from 1.1.2 to 1.2.0 and am running into an error - `no implicit conversion of nil into String (TypeError)`. It's happening with Rails 5.0, 5.1, 5.2, and 6.0 (haven't tested other versions). Here's the stack trace:

[code]

Ref: https://travis-ci.org/github/ankane/lockbox/jobs/677089603

[2020-04-20 04:26] pat commented on #105
Thanks for sending this through - seems like it's from you specifying active_job as one of the components to load, but Combustion hasn't had that added in (not for any good reason, just hadn't got around to it!). I'll try to get that fixed later today.

[2020-04-20 04:27] pat commented on #105
This also means that previously Combustion handled components that weren't explicitly specified, and that does feel like the right way to do things, so I'll try to have the code return to that behaviour.

[2020-04-20 13:28] pat commented on #105
Just pushed v1.3.0 which includes explicit ActiveJob support (along with ActionCable, ActionText and ActionMailbox, which also hadn't previously been explicitly loaded). Hopefully this gets your build passing again :)

[2020-04-20 19:24] ankane commented on #105
1.3.0 works great - thanks for the quick response!

[2020-04-20 19:24] #105 closed

[2020-05-01 14:23] alexanderfrankel commented on #93
@jrochkind @pat Interesting discussion above. Thanks for posting.

Has there been a recommended solution to getting rails generators working with an engine directory? I frequently use `rails g migration <migration_name>` inside the engine dir.

@jrochkind You mentioned that you had a workaround. Can you please post?

[2020-05-01 14:42] jrochkind commented on #93
Hmm I've largely stopped using combustion for new Engine projects -- I think the friction points in Rails it addresses have become much less friction-full lately. (I DO use Appraisal still for testing under multiple Rails versions). But let's see if I can find a project the project I was talking about there, and see if I can find what I did....

Hm, I think [this](https://github.com/jrochkind/attr

[2020-05-01 16:49] jrochkind commented on #93
I've been using Rails since 2.0.

Previously, what a Rails app looked like on disk could change a lot between versions, so it was really hard to test with multiple Rails versions.  But lately (I'm not sure exactly when but I think at least 5.0), that isn't really true, it works out pretty well for me to test with different Rails versions using the dummy app on disk created by the "engine generator

[2020-06-15 14:50] jrochkind opened #106 "deprecation on rails edge involving db configuration to_h"
[code]

[2020-06-18 09:04] pat commented on #106
Thanks for lodging this - will try to get a fix sorted soon!

[2020-06-18 11:22] pat commented on #106
Just merged in a fix - if you could confirm things work well for you using the git reference instead of a gem release, that'd be greatly appreciated :)

[2020-08-25 18:15] utkarsh2102 opened #109 "Drop `git` in gemspec?"
Hi @pat,

Thanks for your awesome work on maintaining this library! ❤️
However, while maintaining this in Debian, we found that this library uses on `git ls-files` to produce a list of files.

Using git is a bit problematic for us, more explanation at here: https://packaging.rubystyle.guide/#gemspec-git

I am happy to raise a PR in case you agree to have this fixed? 😄

[2020-09-26 12:25] pat commented on #109
Hi Utkarsh - and sorry for taking a while to respond to your message!

To be honest, part of what's made me pause is that while I agree that relying on git for the gemspec is a habit I should get out of, removing git makes it easier to bundle up files that I hadn't meant to release (i.e. that I hadn't committed - experiments, in-progress features, etc).

But at the end of the day, I think your sug

[2020-09-28 00:25] #109 closed

[2020-10-01 08:26] pat commented on #106
Just published 1.3.1 with this fix :)

[2020-12-10 17:45] shageman opened #112 "Don't know how to fix rake tasks in engine"
I am trying to switch an engine from spec/dummy to combustion. I get stuck after going through the install process and deleting `spec/dummy` because my rake tasks stop working.

It looks like whichever way I create my engine I get this kind of `Rakefile`, which seems to indicate that because of the definition of `APP_RAKEFILE` I can't delete the dummy app.

[code]

I can't find a fix in the docs o

[2020-12-11 01:22] pat commented on #112
Hi Stephan - can you clarify which tasks aren't working? e.g. are they core Rails tasks, or tasks you've defined yourself? And are you running these tasks for the engine (as part of developing it), for the minimal internal testing app, or within an app that's using the engine?

Also: the Rakefile - is this generated by Rails for the engine? I must admit, generally I'm creating my engines by hand (

[2020-12-11 01:24] pat commented on #112
Also: I wonder if just copying `spec/dummy/Rakefile` to `spec/internal/Rakefile` will help? Though it could be that Rails' rake tasks expect something closer to a fully fledged app than the minimal scaffolding Combustion provides.

[2021-01-05 22:15] bagus1 opened #115 "uninitialized constant.."
Hi ... am trying to upgrade an engine from Ruby 2.3.1
had combustion working those years ago the way I needed it to.
The engine does some crazy stuff like loading routes from information in the database, so I need to run a task to load them during initialize.  Long story short, this fails with 'uninitialized constant'.

`Combustion.initialize! :all do
    MyEngine::MyModel.all
end`

Did something

[2021-01-09 05:32] pat commented on #115
Is `MyEngine::MyModel` the constant it can't find? Or is it something else? And I don't suppose the engine is open-source so I can see what else may be part of the issue?

I don't feel Combustion has changed dramatically in the past few years (and possibly longer), but when we're dealing with the complexity of Rails, there's many small things that could be part of the issue!

[2021-01-10 19:48] bagus1 commented on #115
Thanks for the thoughts. I was able to work around this by initializing the constants I needed and loading the route information from the database in /spec/internal/config/routes.rb. You can close.

[2021-01-10 19:48] #115 closed

[2021-03-17 20:16] DiegoOrejuela opened #116 "Support for webpacker + capybara ?"
Hi guys. I'm having trouble testing a rails engine with webpacker + capybara + rspec. Will there be any guide on how to achieve this?

Thank you

[2021-03-18 01:19] pat commented on #116
Hi Diego - I've not used Webpacker and Combustion together before, but it'd certainly be great to get it working! Are you seeing any errors? Or otherwise, what's not working?

[2021-03-18 03:39] DiegoOrejuela commented on #116
I understand. The truth I have come to this gem looking for a solution to the integration of gems that I said in my first comment. For some reason when I use capybara it is not looking for compiled webpacker packages in the engine. So I wanted to know if this was addressed by this gem or if anyone had addressed this. The truth is that it is a bit difficult to find documentation on Rails Engines co

[2021-03-20 23:52] pat commented on #116
I don't suppose the source for this engine is public? Or are you able to recreate the issue in a test engine so that I can try to get it working on my machine too? (I'm just not very familiar with Webpacker)

[2021-03-22 16:45] DiegoOrejuela commented on #116
Yes, only need a little of time 😅

[2021-04-04 06:20] DiegoOrejuela commented on #116
Hi @pat

Thanks for waiting

I have made the repository [engine_with_webpacker](https://github.com/DiegoOrejuela-issue-reporting/engine_with_webpacker) to reproduce the error that I tell you. You can find in the Readme a description of the problem and screenshots, the requirements you need to install the application and the steps to follow.

There are some configurations that maybe are too many be

[2021-04-25 11:53] pat commented on #116
Hi Diego - thanks for putting together that test repo, greatly appreciated.

I've had a bit of a look - and initially, I was using the dummy app's rails server without either of the webpack-dev-server processes running. In this case: the development environment is like the test environment, where the engine's assets don't work. When I switched to using both app and engine webpack-dev-servers, it d

[2021-05-05 23:27] DiegoOrejuela commented on #116
Hi @pat .

[2021-05-05 23:31] DiegoOrejuela commented on #116
Hi @pat  . Apology for the wait.

Maybe for version 6 it has better support, but actually I doubt it, because for the current one it was a long process.

I also posted the bug on Capybara and was able to find the solution. I leave you here the link.

https://github.com/teamcapybara/capybara/issues/2455

Thanks for your time and efforts.

[2021-05-05 23:31] #116 closed

[2021-09-20 14:36] jornvandebeek opened #118 "Getting a NameError on `ActiveRecord` for project not initialising activerecord"
For projects that do not require ActiveRecord, the ActiveRecord constant is not loaded, which causes the new rails 7 handling to crash.

[code]

https://github.com/pat/combustion/commit/4fbea4120070be85a88a9f88d3725da44f6d0cdd#diff-59be8c6951e39e4f546dc687875846547c2fc847be8ab89fe945d01b0640969aR5

As for the fix. I guess using `Rails.version` instead would be the correct way to do it? Alternative

[2021-09-21 13:05] pat commented on #118
I've just pushed a fix (though the commit was a little too eager on autoclosing the issue 😅) - if you could confirm it's all fine via the git repo for your project, that'd be great, and I'll get a release out soon.

[code]

[2021-09-21 18:40] brettfishman commented on #118
@pat this did the trick for us - thanks for the quick fix!

[2021-09-21 22:58] pat commented on #118
Appreciate the confirmation @brettfishman - I've just released v1.3.3 with this fix :)

[2021-09-22 11:42] jornvandebeek commented on #118
I can also confirm 1.3.3 works to fix the issue. Thank you for the prompt resolution!

[2021-09-22 11:42] #118 closed

[2021-10-11 13:32] jrochkind opened #119 "Rails edge failure involving sprockets-rails"
Hi, I use combustion to test on multiple rails versions, including "edge" from `main` branch in Rails repo. So I notice quick when something breaks!

Up to you whether you want to support rails-edge or not, I'm just letting you know! You can treat it as a preview of what you'll eventually probably have to do for the next Rails pre-release, or an eventual Rails 7 final release.

Rails main branch n

[2021-10-11 13:43] jrochkind opened #120 "Rails 7.0.0.alpha1 deprecation warning involving `connection_handlers`"
Beginning in Rails 7.0.0.alpha1, using combustion 1.3.3:

[code]

I believe this is being triggered by combustion. My spec_helper.rb:25 is my `Combustion.initialize! :all` line.

Although I can't find a reference to `connection_handlers` in Combustion source code, not sure exactly what's triggering it, haven't debugged it to that level. I am thinking this should be reproducible on any Rails 7.0.0.

[2021-11-21 11:29] pat commented on #120
This was a bug, fixed in 792a6890b5f27bde33f813550ea39d7c781260e2 - thanks for letting me know :)

[2021-11-21 11:29] #120 closed

[2021-11-21 11:31] pat commented on #119
Thanks for this report @jrochkind - sorry it took me a while to respond to both this and #120.

I've opted for your final option: Sprockets is no longer loaded by default when testing against Rails 7, and there's a note in the README. Thanks for doing all the research and making suggestions on how to resolve it, greatly appreciated! Fixes for both the issues are part of Combustion v1.3.4 :)

[2021-11-21 11:31] #119 closed

[2021-12-22 20:23] jrochkind commented on #120
@pat I'm still seeing this deprecation error in my logs using Rails 7.0.0 and combustion 1.3.5. Any ideas?

[2021-12-22 20:30] jrochkind commented on #120
Aha. Somehow I'm not really using combustion 1.3.5 even though I should be. I'm using combustion 1.3.3 on my test run...  Got to debug that ok!

[2022-04-11 16:14] jrochkind opened #123 "legacy_connection_handling= no longer supported in Rails main/edge"
Hi! I use combustion in one of my engine gems for testing, where I also test against multiple Rails versions. I include Rails `edge` (HEAD of `master` branch in git), because I want to find out as soon as possible if my gem has stopped working against future Rails!

Combustion as of recently does not work against Rails main branch, because Rails has [removed `legacy_connection_handling` configurat

[2022-04-11 23:59] pat commented on #123
Hi Jonathan - I'm not against PRs for Rails edge :) though I won't be prioritising new version releases of combustion with those changes, so hopefully it's fine for you to refer to combustion via a git reference?

As for how to change the code - it looks like the edge version number is now 7.1.0.alpha, so perhaps changing `if ActiveRecord::VERSION::MAJOR >= 7` to instead be `if ActiveRecord::VERSI

[2022-04-12 14:50] jrochkind commented on #123
If you'd prefer to stick to a version checking approach rather than a feature-detection approach, my inclination would be to go ahead and use `Gem::Version` for it's existing correct semantics for version comparisons, in this case I guess something like:

ar_release_version = Gem::Version.new(ActiveRecord::VERSION::String).release
ar_release_version >= Gem::Version.new("7.0") && ar_release_version

[2022-04-19 14:58] jrochkind commented on #123
Interstingly, combustion itself also seems to test off rails-edge in it's CI! https://github.com/pat/combustion/blob/main/Appraisals#L82

I'm surprised combustion is not failing it's own CI test suite right now due to this issue.  Perhaps it is, but the test suite hasn't run in a while, if there hasn't been a PR in a while, and you don't have automatic regular CI runs set up?

[2022-04-25 03:44] #123 closed

[2022-04-25 03:45] pat commented on #112
This issue's been dormant for over a year 😅 so I'm closing it. That said, very happy to continue the discussion if it remains a problem.

[2022-04-25 03:45] #112 closed

[2022-05-31 17:30] jrochkind opened #128 "combustion 1.3.6 fails to require sprockets for Rails 6.1.1+"
Upgrading from combustion 1.3.5 to 1.3.6 caused my project build for Rails 6.1 to start failing with:

[code]

I confirmed that the difference between combustion 1.3.5 and 1.3.6 alone determines green/red.

Oddly, my project was still passing fine for Rails 6.0 and 7.0 -- failing only for Rails 6.1.

Rather than spend time getting to the bottom of this somewhat confusing situation, I was consideri

[2022-06-01 01:40] pat commented on #128
Thanks for the debugging @jrochkind, that's super helpful :) I've just pushed a fix and released a new version as well (1.3.7).

[2022-06-01 01:40] #128 closed

[2022-06-09 19:00] voltechs opened #129 "Open up for extensibility"
Hi @pat!

I'm such a huge fan of Combustion; I was working on a new project and was looking to leverage Combustion for it.

Sadly I may be at an impasse. I'm trying to use the Snowflake DB, through a few different gems and configs. All in vein though, it would seem, as Combustion seems to be pretty stubborn on what databases it supports.

That is to say, without a substantial amount of "hacking",

[2022-06-09 23:18] pat commented on #129
Hi @voltechs - thanks for getting in touch, and it's great to know you find Combustion so helpful!

Also: I'm very keen to make additional database support possible. I suspect the `freeze` is there due to Rubocop, but disabling that rule sounds like a fair move to me. Did you want to try using a local copy of Combustion, remove that `freeze` call on `OPERATOR_PATTERNS` and then add Snowflake into

[2022-06-15 21:37] voltechs commented on #129
Hi @pat, that would definitely be a step in the right direction. Of course, `OPERATOR_PATTERNS` is still a const, and so adding to it would at the very least produce a warning and maybe not the best approach in the end. Perhaps a class variable that one could append to at some point in the initialization process?

[code]

Also, off-topic: would it make sense to simplify the `operator_class` method

[2022-06-16 08:34] pat commented on #129
Given we can rely on ActiveSupport being present, perhaps `cattr_reader` could be used instead?

[code]

Your simplification of `operator_class` looks good to me 👍🏻

Also, I'm wondering if this attribute, the `operator_class` method, and the `UnsupportedDatabase` definition should be shifted to `Combustion::Database`, with the method becoming a class-level concern, and the error class being rename

[2022-06-17 18:04] voltechs commented on #129
Sounds good. I'll try to take a stab at creating a PR here when I've got a few spare cycles!